# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.venv/
venv/

# Local env/config
.env

# Generated data
*.json

# IDE
.idea/
.vscode/
